body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;

  font-family: 'JosefinSans';
}

@font-face {
  font-family: 'JosefinSans';
  src: local('JosefinSans'),
    url(./assets/JosefinSans-VariableFont_wght.ttf) format('truetype');
}
