.big-axis line {
  stroke: linen;
}

.big-axis path {
  stroke: linen;
}

.big-axis text {
  fill: linen;
}
.axis line {
  stroke: linen;
}

.axis path {
  stroke: linen;
}

.axis text {
  fill: linen;
}

foreignObject {
  color: linen;
}
foreignObject > * {
  font-size: 10px;
  text-align: center;
}

h1 {
  text-align: center;
  font-family: Tahoma, Arial, sans-serif;
  color: #06d85f;
  margin: 80px 0;
}

.button {
  margin-bottom: 50px;
  margin-top: 30px;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.5;
  text-transform: uppercase;
  background-color: none;
  color: #002f49;
  max-width: 200px;
  text-align: center;
  border: 1px solid #002f49;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
  padding: 12px 30px;
  font-family: 'Roboto', san-serif;
  margin-left: auto;
  margin-right: auto;
}

.button a {
  color: #002f49;
}

.button:hover {
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background-color: #002f49;
  color: white;
}
